[Desktop Entry]
Name=Ovobot Configurator
Comment=Crossplatform configuration tool for the Ovobot flight control system
Exec=/opt/Ovobot/Ovobot-configurator/Ovobot-configurator
Icon=/opt/Ovobot/Ovobot-configurator/icon/ovobot_images/cleanrobot_icon128.png
Terminal=false
Type=Application
Categories=Utility
